
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
h1,h2,h3,h4,h5,h6{
	margin:0;	
font-family: 'Open Sans', sans-serif;
}	
p{
	margin:0;
	letter-spacing:1px;
}
ul{
	margin:0;
	padding:0;
}
p,ul,ol{
	font-size:14px;
}
input[type="submit"],a,.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
	text-decoration:none;
}


.wthree_agile_admin_info {
    position: relative;
}
li.second.admin-pic img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	    margin-top: 6px;
    width: 85%;
    margin-left: -4px;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
		-webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
		-moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
		-o-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
li.second.logo h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 1px;
	text-shadow: 4px 4px 2px rgb(7, 70, 121);
	-weblit-text-shadow: 4px 4px 2px rgb(7, 70, 121);
	-moz-text-shadow: 4px 4px 2px rgb(7, 70, 121);
	-o-text-shadow: 4px 4px 2px rgb(7, 70, 121);
	-ms-text-shadow: 4px 4px 2px rgb(7, 70, 121);
	position:relative;
}
li.second.logo i.fa.fa-graduation-cap {
    position: absolute;
    left: -4px;
    top: 6px;
    font-size: 17px;
    text-shadow: none;
    display: none;
}


/
.agile_top_w3_post_info{
	width: 49%;
    margin-left: 1%;

}
.agile_info_shadow {
    padding: 1em;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	-o-box-shadow:0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #ddd;
}


.inner_content_w3_agile_info {
    margin-top:4.5em;
}
.inner_content_w3_agile_info.two_in {
    margin-top: 4em;
}
.chart_agile.agile_info_shadow {
    padding: 1em 2em;
	    margin: 0;
}

.copyrights {
    padding: 1.5em 0em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #000;
}
.copyrights p {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0;

}
.copyrights p a{
    color: #1b93e1;
}
.copyrights p a:hover{
    color:#696969;
}

.copyrights p img{
    width:80px;
    height:75px;
}	



#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}